:host {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EDF4F2; 
    color: #31473A; 
}

.main-container {
    padding: 1.5rem;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-event-button {
    position: fixed;
    right: 10px;
    z-index: 10000;
    top: 75px;
    background-color: rgb(41, 211, 7);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.add-event-fab {
    display: none; 
    background-color: rgb(41, 211, 7);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    left: 20px;
    z-index: 3000;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}

h2 {
    font-size: 24px;
    color: #31473A; 
    margin-bottom: 20px;
}

.events-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
}

.event-card {
    background-color: white;
    border: 1px solid #31473A; 
    border-radius: 5px;
    padding: 1rem;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    width: 100%; /* Ensures card occupies full width by default */
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.event-card h3 {
    margin-top: 0;
    font-size: 1.2rem;
}

.event-card p {
    margin: 0.5rem 0;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

button {
    background-color: #31473A; /* Dark button color */
    color: white; /* White text color */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #263d30; /* Darker shade on hover */
}

/* No events message style */
.no-events {
    text-align: center;
    font-size: 18px;
    color: #777; /* Light grey color */
}

/* Responsive adjustments */
@media (max-width: 700px) {
    .event-card {
        width: calc(100% - 1rem); /* Account for gap in the grid */
    }
}

@media (min-width: 701px) {
    .events-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 700px) {
    .events-list {
        grid-template-columns: 1fr; /* Single column layout for small screens */
    }
}
