<app-navigationbar></app-navigationbar>
    <main class="main-container">
        <button class="add-event-button desktop" (click)="addevent()">Add Event</button>
    <button class="add-event-fab mobile" (click)="addevent()">+</button>
        <h2>Your Events</h2>
        <div class="event-list" *ngIf="events.length > 0; else noEvents">
            <div class="event-card" *ngFor="let event of events">
                <h3>{{ event.title }}</h3>
                <p>Date: {{ event.date }}</p>
                <p>Location: {{ event.location }}</p>
                <p>Description: {{ event.description }}</p>
                <p>Status: {{ event.status }}</p>
                <p>Category: {{ event.category }}</p>
                <button (click)="editEvent(event.id)">Edit</button>
                <button (click)="deleteEvent(event.id)">Delete</button>
                <button (click)="viewDetails(event.id)">View Details</button>
                <button (click)="manageGuests(event.id)">Manage Guest</button>
            </div>
        </div>
        <ng-template #noEvents>
            <p>No events found. Please add some events!</p>
        </ng-template>
    </main>
    