body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: rgb(80, 79, 79);
    background-color:whitesmoke;
    padding:17px;
    margin: 0;
    font-weight: 200;
}
.parent-container
{
    border:1px solid black;
    background-color: rgb(224,224,224);
    height: 200px;
    width: 300px;
    position: relative;
    margin:100px auto;
}
.child-container
{
    background-color: rgb(39, 141, 29);
    padding:10px;
    width:auto;
    position:absolute;
    top:50px;
    left:20px;
    color: white;
}
.outer-conatiner
{
    background-color: rgb(36, 133, 179);
    padding:10px;
    width: auto;
    display: inline;
    position: absolute;
    left:20px;
    color: white;
}
footer{
    position: absolute;
    bottom: 0;
    background:rgb(224,224,224) ;
    color: #333030;
    text-align: center;
    padding: 10px;
    width: 100%;
}