body{
    font-family: Arial, Helvetica, sans-serif;
}
h1
{
    text-align: center;
    background-color: hsla(360, 0%, 84%, 1);
    color: #363636;
    margin:0;
    padding:7px;
}
.nav{
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color:#363636;
    margin:0;
    padding:6px;
}
.nav li{
    margin:0px 30px 0px 30px;
    color:white;
}

#form{
    height:400px;
    width:300px;
    margin:20px auto 0 auto;
    border:1px solid black ;
    padding:30px;
    background-color:rgb(243, 240, 240);
}
h3{
    text-align: center;
}
.elements
{
    margin-bottom: 20px;
}
.elements input{
    font-size: 15px;
    margin-top: 5px;
    width: 100%;
    height: 20px;
}
.btn
{
    width: 100%;
    padding: 5px;
    font-size: 15px;
    background-color: #363636;
    color: white;
    border: none; 
    cursor: pointer;
}
footer{
    padding: 15px;
    margin: 10px;
    text-align: center;
    color: rgb(148, 148, 148);
}
form textarea {
    height: 80px;
    resize: none;
    width: 100%; 
    font-size: 15px; 
    margin-top: 5px;
}