body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: white;
    border-radius: 5px;
    width: 350px;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.input-group {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button.delete {
    background-color: #dc3545;
}


.edit-input {
    width: 100%; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
}

.task:last-child {
    border-bottom: none;
}


.task div {
    display: flex;
    align-items: center;
    flex: 1;
}

.task input[type="checkbox"] {
    margin-right: 120px; 
}

.task label {
    flex: 1; 
}
#error{
    color: red;
    text-align: center;
    display: none;
}
.task button.delete {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 0.9rem;
}
button.edit {
    background-color: #ffc107;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 0.9rem;
}
